.dashboard {
    padding: 20px;
    justify-content: center;

    .dashboard-widgets {
        display: flex;
        gap: 20px;
    }
}
.homeIcon{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}